body{
  background: #333333;
  font-family: 'Pathway Gothic One', sans-serif;
}
#title{
  font-size: 2.2em;
  margin: 10px;
}
#calc{
  background: #cdcacb;
  width: 400px;
  text-align: center;
  border-radius: 15px;
  box-shadow: 3px 3px 0 0 rgba(0,0,0,0.1), inset -1px -6px 7px 0 #252525;
  margin: 8% auto 0 auto;
}
#currentEntry{
  font-size: 1.8em;
}
#totalEntry{
  font-size: 1.1em;
}
#screenBox{
  background: black;
  color: white;
  margin: 0 45px;
  text-align: right;
  border-radius: 5px;
  
}
.entry{
  margin-right: 7px;
}

#buttonBox{
  margin: 0 5px;
}
#zero{
  width: 146px;
}
#equal{
  width: 146px;
  margin-bottom: 30px;
}
.op{
  background: #4323bb;
  box-shadow: 0 3px 0 0 #232377, inset -1px -3px 10px 1px #4343aa;
  color: white;
}
.clear{
  background: #dd1f1f;
  box-shadow: 0 3px 0 0 #aa2222, inset -1px -3px 10px 1px #bb4545;
}
.num{
  background: white;
  box-shadow: 0 3px 0 0 #777777, inset -1px -3px 10px 1px #cfcfcf;
}
button {
  border: none;
  border-radius: 5px;
  height: 53px;
  width: 60px;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 1.3em;
  margin: 2.8%;
  outline: none !important;
  
}
button:active{
  box-shadow: none;
  transform: translate(0,3px);
}